body {
  background: #E2DBDB url(img/bg2.jpg);
}

.container {
  background: white;
  overflow: auto;
}

.primary {
  float: right;
  width: 55%;
  border-left: solid 1px gray;
}

.secondary {
  float: left;
  width: 30%;
  margin-right: -30px;
  overflow: hidden;
}

#self-introduction {
  font-size: 20px;
}

#self-introduction:first-letter {
  font-size: 50px;
  float: left;
}

.secondary img {
  background-image: url(img/photo.jpg);
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center 60%;
  max-width: 95%;
}

.secondary p {
  font-size: 18px;
}

.secondary p strong {
  font-size: 20px;
  padding-right: 8px;
}

.secondary p a {
  padding-left: 20px;
}